{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold d-inline-block text-primary">Show company</h6>
                <h6 class="float-right d-inline-block">
                    <a href="{{ path('app_company_index') }}">back to list</a>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th>Name</th>
                            <td>{{ company.name }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ company.address }}</td>
                        </tr>
                        <tr>
                            <th>Zipcode</th>
                            <td>{{ company.zipcode }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ company.city }}</td>
                        </tr>
                        <tr>
                            <th>Siret</th>
                            <td>{{ company.Siret }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {{ include('company/_delete_form.html.twig') }}
    </div>
{% endblock %}
